*{
    margin: 0;
    padding: 0;
}
body{
    /* overflow-y: hidden; */
    font-family: neue-haas-grotesk-display, sans-serif;
}
.home{
    border: 3px solid greenyellow;
    margin-top: 0;
    max-height: 100%;
    position: relative;
    padding-bottom: 0%;
    background: url(../img/placeholder.png);
    /* background-color: gray; */
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.home .logo{
    padding-top: 20px;
    margin-left: 20px; 
    font-size: 14px;
    font-weight: 510;
}
.greeter{
    /* border: 3px solid greenyellow; */

    width: 23%;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
} 
.greeter .scroll{
    display: flex;
    overflow: hidden;
}
.greeter .scroll span{
    white-space: nowrap;
    text-transform: uppercase;
    animation: scroller 10s linear infinite;
}
@keyframes scroller{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.socialsBar{
    /* border: 3px solid greenyellow; */
    width: 70%;
    margin: auto;
}
.socialsBar ul{
    text-align: center;
}
.socialsBar ul li{
    display: inline-block;
    padding: 15px;
    padding-top: 0%;
    padding-bottom: 0%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
.socialsBar ul li a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
.email{
    width: 30%;
    text-align: center;
    margin: auto;
    padding-top: 0%;

}
.bannerText{
    color: white;
    font-size: 50px;
    text-align: left;
    padding-left: 20%;
    padding-top: 20vw;
    font-weight: lighter;
}
.bannerText p{
    text-indent: 14%;
}
.navBar{
    border: 3px solid greenyellow;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    position: sticky;
    top:0;
}
.navBar ul{
    text-align: center;
}
.navBar ul li{
    display: inline-block;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
.navBar ul li a{
    text-decoration: none;
    text-emphasis: none;
    color: #000000;
}
.navBar ul li a:hover{
    text-decoration: underline;
}
.prevWork{
    width: 100vw;
    background-color:purple;
}
