*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: neue-haas-grotesk-display, sans-serif;
}
.home{
    margin-top: 0;
    height: 100vh;
    position: relative;
    padding-bottom: 0%;
    background: url(../img/placeholder.png);
    background-color: gray;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 auto;
}

.logo{
    padding-top: 20px;
    margin-left: 20px; 
    font-size: 14px;
    font-weight: 510;
}
.greeter{
    width: 23%;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
} 
.greeter .scroll{
    display: flex;
    overflow: hidden;
}
.greeter .scroll span{
    white-space: nowrap;
    text-transform: uppercase;
    animation: scroller 10s linear infinite;
}
@keyframes scroller{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.socialsBar{
    padding-top: 0;
    width: 70%;
    margin: auto;
}
.socialsBar ul{
    text-align: center;
}
.socialsBar ul li{
    display: inline-block;
    padding: 15px;
    padding-top: 0%;
    padding-bottom: 0%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
.socialsBar ul li a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
.greenButton{
    display: block;
    background-color: rgb(0, 252, 70);
    height: 20px;
    width: 20px;
    float: right;
    border-radius: 50%;
    border: 1px solid rgb(0, 252, 70);
    margin-right: 5%;
}
.email{
    width: 30%;
    text-align: center;
    margin: auto;
    padding-top: 0%;

}
.bannerText{
    letter-spacing: 10px;
    color: white;
    font-size: 50px;
    text-align: left;
    padding-left: 20%;
    padding-top: 24vw;
    font-weight: lighter;
}
.bannerText p{
    text-indent: 14%;
}
.navBar{
    padding-top: 20px;
    padding-bottom: 100px;
    width: 40%;
    margin: auto;
    margin-top: 0;
    position: sticky;
    bottom: 10px;
    z-index: 103;
    top:0;
    bottom: 0;
}
.navBar ul{
    text-align: center;
}
.navBar ul li{
    display: inline-block;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
    background-color: #ffffff;

}
.navBar ul li a{
    text-decoration: none;
    text-emphasis: none;
    color: #000000;
}
.navBar ul li a:hover{
    text-decoration: underline;
}
.prevWork{
    height: 300vh;
    background-color:#ffffff;
}
.prevWork .wrapper1{
    width: 25%;
    height: 15%;
    border: 1px solid black;
    position: relative;
    float: right;
    margin-right: 10%;
    background-image: none;
    z-index: 101;
}
.prevWork .wrapper1:hover{
    transition: 1s;
    background: url(../img/mail.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}
.prevWork a{
    padding-bottom: 15px;
    bottom: 0;
    right: 0;
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}
.prevWork span{
    font-size: 15px;
}
.prevWork .wrapper2{
    width: 30%;
    height: 10%;
    border: 1px solid black;
    position: relative;
    float: left;
    margin-left:5%;
    margin-top: 10%;
    background-image: none;
    z-index: 101;
}
.prevWork .wrapper2:hover{
    transition: 1s;
    background: url(../img/skelleton.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}
.prevWork .wrapper3{
    width: 20%;
    height: 17%;
    border: 1px solid black;
    position: relative;
    float: right;
    margin-right: 30%;
    background-image: none;
    margin-top: -3%;
    z-index: 101;
}
.prevWork .wrapper3:hover{
    transition: 1s;
    background: url(../img/xkcd_loves_the_discovery_channel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}
.prevWork .wrapper4{
    width: 20%;
    height: 10%;
    border: 1px solid black;
    position: relative;
    float: left;
    margin-left: 10%;
    background-image: none;
    margin-top: 25%;
    z-index: 101;
}
.prevWork .wrapper4:hover{
    background: url(../img/concert.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}
.prevWork .wrapper4 a{
    padding-bottom: 15px;
    bottom: 0;
    left: 0;
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.prevWork .wrapper5{
    width: 20%;
    height: 15%;
    border: 1px solid black;
    position: relative;
    float: left;
    margin-left: -5%;
    background-image: none;
    margin-top: 35%;
    z-index: 101;
}
.prevWork .wrapper5:hover{
    transition: 1s;
    background: url(../img/egg_drop_failure.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}
.prevWork .wrapper6{
    width: 30%;
    height: 10%;
    border: 1px solid black;
    position: relative;
    float: right;
    margin-right: 20%;
    background-image: none;
    margin-top: 10%;
    z-index: 101;
}
.prevWork .wrapper6:hover{
    transition: 1s;
    background: url(../img/album.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 102;
}