*{
    margin: 0;
    padding: 0;
}
body{
    font-family: neue-haas-grotesk-display, sans-serif;
}
.home{
    margin-top: 0;
    width: 100vw;
    height: 100vw;
    position: relative;
    padding-bottom: 0px;
    background: url(../img/placeholder.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.home .logo{
    padding-top: 20px;
    margin-left: 20px; 
    font-size: 14px;
    font-weight: 510;
}
.greeter{
    width: 30%;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
} 
.greeter .scroll{
    display: flex;
    overflow: hidden;
}
.greeter .scroll span{
    white-space: nowrap;
    text-transform: uppercase;
    animation: scroller 10s linear infinite;
}
@keyframes scroller{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.socialsBar{
    width: 70%;
    margin: auto;
}
.socialsBar ul{
    text-align: center;
}
.socialsBar ul li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
.email{
    width: 30%;
    text-align: center;
    margin: auto;
    padding-top: 0%;

}
.bannerText{
    color: white;
    font-size: 30px;
    text-align: left;
    padding-left: 25%;
    padding-top: 200px;
}
.bannerText p{
    text-indent: 50px;
}